@font-face {
  font-family: "eros";
  src: url("./assets/eros-Oblique.woff2") format("woff2"),
    url("./assets/eros-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.app {
  width: 100vw;
  height: 100vh;
  background-color: white;
}
