@font-face {
  font-family: "Kanit";
  src: url("./assets/Kanit-Medium.woff2") format("woff2"),
    url("./assets/Kanit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "KanitLight";
  src: url("./assets/Kanit-Thin.woff2") format("woff2"),
    url("./assets/Kanit-Thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}
.component {
  font-family: "Kanit";
  font-size: 1.125rem;
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: space-between;
}

.component > hr {
  width: 100%;
}
/* coin_basic_info -- first half of the component */
.coin_basic_info {
  position: relative;
  align-items: center;
  flex: 0.48;
  justify-content: space-between;
  display: flex;
  gap: 0.5rem;
}
.img_name {
  min-width: 160px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.img_name > img {
  object-fit: contain;
  width: 35px;
}
.img_name > h1 {
  font-size: 1.8rem;
}
.coin_symbol {
}
.price {
  width: 20%;
  min-width: 80px;
}
.coin_price {
  float: right;
}
.coin_high {
  overflow: visible;
  object-fit: contain;
  min-width: 100px;
  align-items: center;
}
.coin_low {
}
.coin_change {
}
.coin_data {
  flex: 0.48;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.change {
  width: 20%;
  min-width: 70px;
}
.coin_change {
  float: right;
}
.coin_price,
.coin_high,
.coin_low,
.coin_change,
.coin_symbol {
  font-size: 1.5rem;
}
@media only screen and (max-width: 1480px) {
  .coin_price,
  .coin_high,
  .coin_low,
  .coin_change,
  .coin_symbol {
    font-size: 1.3rem;
  }
  .img_name > h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1100px) {
  .component {
    flex-direction: column;
  }
  .coin_data {
    width: 100%;
  }
  .coin_basic_info {
    width: 100%;
  }
}
@media only screen and (max-width: 460px) {
  .component {
    width: 100%;
  }
  .coin_price,
  .coin_high,
  .coin_low,
  .coin_change,
  .coin_symbol {
    font-size: 1rem;
  }
  .coin_name {
    font-size: 1.2rem !important;
  }

  .img_name {
    min-width: 130px;
  }
}
